/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Input, textarea outlines
   ========================================================================== */
/**
 * Removing the outlines
 */
textarea:focus,
input:focus {
  outline: none; }

/*	Breakpoints	*/
/*	Sizes	*/
/*	Colors	*/
/*	Fonts	*/
@media (min-width: 481px) {
  .login-screen {
    height: 100%;
    background-image: url(../img/fullscreen_bg_image.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat; }
    .login-screen .tc-container {
      padding: 0 25px;
      text-align: center; }
    .login-screen .main-container {
      max-width: 500px;
      background-color: #fff;
      padding: 35px 45px;
      border-radius: 3px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
      -webkit-transform: translateY(10%);
      -moz-transform: translateY(10%);
      -ms-transform: translateY(10%);
      -o-transform: translateY(10%);
      transform: translateY(10%); } }
    @media (min-width: 481px) and (min-height: 620px) {
      .login-screen .main-container {
        -webkit-transform: translateY(20%);
        -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
        -o-transform: translateY(20%);
        transform: translateY(20%); } }
    @media (min-width: 481px) and (min-height: 768px) {
      .login-screen .main-container {
        -webkit-transform: translateY(30%);
        -moz-transform: translateY(30%);
        -ms-transform: translateY(30%);
        -o-transform: translateY(30%);
        transform: translateY(30%); } }
    @media (min-width: 481px) and (min-height: 1024px) {
      .login-screen .main-container {
        -webkit-transform: translateY(40%);
        -moz-transform: translateY(40%);
        -ms-transform: translateY(40%);
        -o-transform: translateY(40%);
        transform: translateY(40%); } }

@media (min-width: 481px) {
      .login-screen .main-container .title {
        margin-top: 15px;
        margin-bottom: 40px;
        padding-bottom: 35px;
        border-bottom: 1px solid #d0dce7; }
      .login-screen .main-container .login-button div {
        margin-top: 35px;
        border-radius: 2px; } }

@media (min-width: 769px) {
  .profile-screen body {
    background-color: #f5f8f9; }
  .profile-screen .profile-contents,
  .profile-screen .profile-info-container {
    width: 75%;
    max-width: 1200px;
    min-width: 748px;
    margin: auto;
    border-radius: 3px;
    background-color: #fff; }
  .profile-screen .profile-info-container {
    padding: 20px 20px 80px 215px;
    position: relative; }
  .profile-screen .profile-info {
    padding: 65px 0; }
    .profile-screen .profile-info .logout-button-mobile {
      display: none; }
    .profile-screen .profile-info .logout-button {
      display: block;
      padding: 10px 20px; }
    .profile-screen .profile-info .swipeable-menu {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding-left: 205px; }
    .profile-screen .profile-info .avatar {
      z-index: 2;
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: 170px;
      height: 170px;
      -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2); }
      .profile-screen .profile-info .avatar > div {
        position: absolute;
        height: 100%;
        width: 100%; }
    .profile-screen .profile-info .upload-button-container {
      margin: 20px 195px 20px 0; }
      .profile-screen .profile-info .upload-button-container .upload-button {
        padding: 5px 20px;
        border: 1px solid #a6b0b7;
        border-radius: 2px;
        display: inline-block;
        font: 1em "Open Sans", sans-serif;
        color: #63696d; }
        .profile-screen .profile-info .upload-button-container .upload-button:active {
          background-color: #a6b0b7; }
          .profile-screen .profile-info .upload-button-container .upload-button:active * {
            color: #fff; }
        .profile-screen .profile-info .upload-button-container .upload-button .icon {
          font-size: 1.5em;
          margin-right: 20px; }
        .profile-screen .profile-info .upload-button-container .upload-button .label {
          height: 33px;
          line-height: 33px; }
    .profile-screen .profile-info .personal-info {
      margin-top: 10px; }
    .profile-screen .profile-info .personal-stuff {
      position: absolute;
      right: 20px;
      bottom: 140px; }
  .profile-screen .rating-and-reviews > div {
    float: left; }
  .profile-screen .reviews {
    height: 28px;
    line-height: 28px;
    margin-left: 25px; }
  .profile-screen .followers {
    position: absolute;
    bottom: 15px;
    right: 20px;
    z-index: 2; }
  .profile-screen .profile-contents {
    margin-top: 35px;
    padding: 40px 35px;
    background-color: #fff;
    border: 0;
    -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3); }
    .profile-screen .profile-contents .title-container {
      margin-bottom: 35px; }
    .profile-screen .profile-contents .type,
    .profile-screen .profile-contents .edit-button,
    .profile-screen .profile-contents .edit-action-buttons,
    .profile-screen .profile-contents .edit-inputs {
      display: none !important; }
    .profile-screen .profile-contents .name {
      padding: 6.5px; }
    .profile-screen .profile-contents .profile-info-value {
      padding: 5px; }
    .profile-screen .profile-contents .name,
    .profile-screen .profile-contents .profile-info-value {
      background-color: #f8f8f8;
      display: inline-block;
      float: left;
      margin-top: 1px;
      position: relative;
      padding-right: 65px; }
      .profile-screen .profile-contents .name .edit-tooltip,
      .profile-screen .profile-contents .profile-info-value .edit-tooltip {
        display: none;
        width: 300px;
        background-color: #fff;
        padding: 20px;
        border-radius: 2px;
        -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 90%;
        z-index: 2;
        top: -10px; }
        .profile-screen .profile-contents .name .edit-tooltip::before,
        .profile-screen .profile-contents .profile-info-value .edit-tooltip::before {
          content: " ";
          position: absolute;
          top: 18px;
          left: -13px;
          border-top: 13px solid transparent;
          border-right: 13px solid #fff;
          border-bottom: 13px solid transparent;
          z-index: 3; }
        .profile-screen .profile-contents .name .edit-tooltip [md-input-container],
        .profile-screen .profile-contents .profile-info-value .edit-tooltip [md-input-container] {
          margin-top: 0; }
        .profile-screen .profile-contents .name .edit-tooltip .edit-tooltip-action-buttons,
        .profile-screen .profile-contents .profile-info-value .edit-tooltip .edit-tooltip-action-buttons {
          margin-top: 20px; }
          .profile-screen .profile-contents .name .edit-tooltip .edit-tooltip-action-buttons > *,
          .profile-screen .profile-contents .profile-info-value .edit-tooltip .edit-tooltip-action-buttons > * {
            padding: 8px 25px;
            min-width: 100px;
            text-align: center;
            font-size: 0.75em;
            margin-right: 20px; }
      .profile-screen .profile-contents .name.active .edit-button-right,
      .profile-screen .profile-contents .profile-info-value.active .edit-button-right {
        display: none; }
      .profile-screen .profile-contents .name.active .edit-tooltip,
      .profile-screen .profile-contents .profile-info-value.active .edit-tooltip {
        display: block; }
      .profile-screen .profile-contents .name .edit-button-right,
      .profile-screen .profile-contents .profile-info-value .edit-button-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        text-align: center;
        padding: 9px 0;
        cursor: pointer;
        background-color: #ecf1f5; }
        .profile-screen .profile-contents .name .edit-button-right:active,
        .profile-screen .profile-contents .profile-info-value .edit-button-right:active {
          background-color: #007ee5; }
          .profile-screen .profile-contents .name .edit-button-right:active span,
          .profile-screen .profile-contents .profile-info-value .edit-button-right:active span {
            color: #fff; }
        .profile-screen .profile-contents .name .edit-button-right span,
        .profile-screen .profile-contents .profile-info-value .edit-button-right span {
          font-size: 1em;
          color: #63696d; } }

@media (max-width: 480px) {
  .login-screen .title {
    margin-top: 60px;
    margin-bottom: 75px; } }
  @media (max-width: 480px) and (max-height: 479px) {
    .login-screen .title {
      margin-top: 20px;
      margin-bottom: 20px; } }

@media (max-width: 480px) {
  .login-screen .login-button {
    position: absolute;
    left: 0;
    bottom: 0; } }

@media (max-width: 768px) {
  .profile-screen .profile-info {
    background-color: #f5f8f9;
    padding-top: 30px;
    padding-bottom: 40px; }
    .profile-screen .profile-info .logout-container {
      margin-right: 20px; }
      .profile-screen .profile-info .logout-container .logout-button {
        display: none; }
      .profile-screen .profile-info .logout-container .logout-button-mobile {
        display: block;
        color: #007ee5;
        padding: 10px; }
    .profile-screen .profile-info .avatar {
      margin-top: 25px; }
      .profile-screen .profile-info .avatar > div {
        width: 30%;
        padding-bottom: 30%;
        margin: auto; }
    .profile-screen .profile-info .upload-button-container {
      display: none; }
    .profile-screen .profile-info .full-name {
      text-align: center;
      margin-top: 20px;
      padding: 0 15px; }
    .profile-screen .profile-info .followers,
    .profile-screen .profile-info .personal-info,
    .profile-screen .profile-info .personal-stuff {
      padding: 0 15px; }
    .profile-screen .profile-info .personal-info {
      margin-top: 20px; }
  .profile-screen .rating [class^="ion-"] {
    color: #007ee5 !important; }
  .profile-screen .reviews {
    margin-top: 5px; }
  .profile-screen .followers {
    margin: 25px 0 20px; }
  .profile-screen .profile-contents {
    margin-top: 13px;
    padding: 20px 15px;
    background-color: #fff;
    border-top: 1px solid #d0dce7;
    border-bottom: 1px solid #d0dce7; }
    .profile-screen .profile-contents .title-container {
      margin-bottom: 25px; }
    .profile-screen .profile-contents .edit-button {
      width: 30px;
      height: 25px; }
      .profile-screen .profile-contents .edit-button:active {
        background-color: #ecf1f5; }
    .profile-screen .profile-contents .edit-action-buttons > div {
      font: 0.875em "Open Sans", sans-serif;
      color: #007ee5;
      padding: 5px 15px; }
    .profile-screen .profile-contents .edit-inputs {
      padding-right: 15px; }
    .profile-screen .profile-contents .profile-info-values .profile-info-values-wrapper {
      padding: 10px 0; }
    .profile-screen .profile-contents .profile-info-values .profile-info-value {
      padding-top: 20px; }
      .profile-screen .profile-contents .profile-info-values .profile-info-value .edit-button {
        display: none; }
    .profile-screen .profile-contents .profile-info-values .type {
      margin-top: 20px; }
    .profile-screen .profile-contents .edit-button-right,
    .profile-screen .profile-contents .edit-tooltip {
      display: none !important; } }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

.fr {
  float: right; }

.fl {
  float: left; }

.hand {
  cursor: pointer; }

.full-width {
  width: 100%; }

.clearify::after {
  clear: both;
  content: " ";
  display: table; }

.ellipsify {
  text-overflow: ellipsis; }

.hidden {
  display: none; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.bold {
  font-weight: bold; }

.semibold {
  font-weight: 600; }

[md-input-container] {
  position: relative;
  margin-top: 30px; }
  @media (max-height: 479px) {
    [md-input-container] {
      margin-top: 20px; } }
  [md-input-container] label {
    position: absolute;
    z-index: -1;
    font-family: "Open Sans", sans-serif;
    color: #a6b0b7;
    width: 100%;
    right: 0;
    top: 4px;
    font-size: 1em;
    padding: 10px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    [md-input-container] label.active {
      font-size: 0.75em;
      top: -10px;
      padding: 0; }
  [md-input-container] input {
    z-index: 1;
    position: relative;
    font: 1em "Open Sans", sans-serif;
    color: #333;
    border: 0;
    border-bottom: 1px solid #d0dce7;
    padding: 10px 0; }
    [md-input-container] input ::-webkit-input-placeholder {
      font: 1em "Open Sans", sans-serif;
      color: #333; }
    [md-input-container] input ::-moz-placeholder {
      font: 1em "Open Sans", sans-serif;
      color: #333; }
    [md-input-container] input :-ms-input-placeholder {
      font: 1em "Open Sans", sans-serif;
      color: #333; }
    [md-input-container] input :-moz-placeholder {
      font: 1em "Open Sans", sans-serif;
      color: #333; }
    [md-input-container] input ::placeholder {
      font: 1em "Open Sans", sans-serif;
      color: #333; }

.swipeable-menu {
  position: relative;
  padding: 0 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff; }
  .swipeable-menu .swipeable-menu-container {
    position: relative;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: visible; }
    .swipeable-menu .swipeable-menu-container .tab {
      cursor: pointer;
      display: inline-block;
      padding: 0px 10px;
      font: 0.875em "Open Sans", sans-serif; }
      .swipeable-menu .swipeable-menu-container .tab div {
        padding: 20px 0px;
        position: relative; }
        .swipeable-menu .swipeable-menu-container .tab div::after {
          display: none;
          content: " ";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #007ee5;
          bottom: 0;
          left: 0; }
      .swipeable-menu .swipeable-menu-container .tab.active div::after {
        display: block; }
  .swipeable-menu::before, .swipeable-menu::after {
    display: none;
    position: absolute;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #fff;
    content: " ";
    z-index: 1;
    -webkit-box-shadow: 0px 0px 50px 35px white;
    -moz-box-shadow: 0px 0px 50px 35px white;
    box-shadow: 0px 0px 50px 35px white; }
  .swipeable-menu::before {
    left: -20px; }
  .swipeable-menu::after {
    right: -20px; }
  .swipeable-menu.shadow-visible-left::before {
    display: block; }
  .swipeable-menu.shadow-visible-right::after {
    display: block; }

.login-screen .main-container {
  width: 75%;
  margin: auto; }

.login-screen .title {
  font: 1.5em "Open Sans", sans-serif;
  color: #333; }

.login-screen .tc-container {
  font: 0.875em "Open Sans", sans-serif;
  margin-top: 30px;
  color: #a6b0b7;
  line-height: 1.5; }
  @media (max-height: 479px) {
    .login-screen .tc-container {
      margin-top: 20px; } }
  .login-screen .tc-container a {
    color: #007ee5; }

.login-screen .login-button {
  font: bold 0.875em "Open Sans", sans-serif;
  color: #fff; }
  .login-screen .login-button div {
    padding: 15px 0;
    background-color: #007ee5; }

.profile-screen .ui-loader {
  display: none !important; }

.profile-screen *:focus {
  outline: 0 !important; }

.profile-screen .logout-button-mobile,
.profile-screen .logout-button {
  font: 700 0.75em "Open Sans", sans-serif; }

.profile-screen .brand-button {
  font: 700 0.75em "Open Sans", sans-serif;
  border: 1px solid #007ee5;
  border-radius: 2px;
  text-transform: uppercase; }

.profile-screen .brand-button-primary {
  color: #007ee5; }
  .profile-screen .brand-button-primary:active {
    background-color: #007ee5;
    color: #fff; }

.profile-screen .brand-button-inverted {
  color: #fff;
  background-color: #007ee5; }
  .profile-screen .brand-button-inverted:active {
    background-color: transparent;
    color: #007ee5; }

.profile-screen .avatar > div {
  background-size: cover;
  background-position: top right; }

.profile-screen .followers,
.profile-screen .personal-stuff,
.profile-screen .personal-info {
  font: 0.875em "Open Sans", sans-serif;
  color: #63696d; }
  .profile-screen .followers [class^="ion-"],
  .profile-screen .personal-stuff [class^="ion-"],
  .profile-screen .personal-info [class^="ion-"] {
    font-size: 1.5em;
    color: #a6b0b7; }

.profile-screen .followers .icon {
  font-size: 1.75em !important;
  margin-right: 10px; }

.profile-screen .followers * {
  line-height: 28px; }

.profile-screen .full-name {
  font: 600 1.25em "Open Sans", sans-serif; }

.profile-screen .rating [class^="ion-"] {
  font-size: 1.5em; }

.profile-screen .profile-desc {
  line-height: 28px;
  margin-left: 10px; }

.profile-screen .profile-value {
  color: #333;
  font-size: 1em;
  margin-right: 10px; }

.profile-screen .edit-button,
.profile-screen .title {
  font: 1.25em "Open Sans", sans-serif;
  color: #63696d; }

.profile-screen .profile-info-values .name {
  font: 600 1em "Open Sans", sans-serif;
  color: #333; }

.profile-screen .profile-info-values .value {
  padding: 3px 0;
  line-height: 25px;
  margin-left: 10px;
  font: 0.875em "Open Sans", sans-serif;
  color: #333; }

.profile-screen .profile-info-values .type {
  font: 0.875em "Open Sans", sans-serif;
  color: #63696d; }

.profile-screen .profile-info-values [class^="ion-"] {
  font-size: 1.5em;
  color: #a6b0b7; }
