[md-input-container] {
	position: relative;
	margin-top: 30px;
	@media (max-height: $mobile-breakpoint-height) {
		margin-top: 20px;	
	}
	
	label {
		position: absolute;
		z-index: -1;
		font-family: $primary-font;
		color: $secondary-color;
		width: 100%;
		right: 0;
		top: 4px;
		font-size: $medium-font-size;
		padding: 10px 0;
		@include transition(all .3s);
		
		&.active {
			font-size: $smallest-font-size;
			top: -10px;
			padding: 0;
		}		
	}
	
	input {
		z-index: 1;
		position: relative;
		font: $medium-font-size $primary-font;
		color: $primary-color;
		border: 0;
		border-bottom: 1px solid $border-color;
		padding: 10px 0;
		
		@include placeholder($medium-font-size $primary-font, $primary-color);
	}
}