@media (min-width: $mobile-breakpoint + 1) {
	
	.login-screen {
		height: 100%;
		background-image: url(../img/fullscreen_bg_image.jpg);
		background-size: cover;
		background-position: center bottom;
		background-repeat: no-repeat;
		
		.tc-container {
			padding: 0 25px;
			text-align: center;
		}
		
		.main-container {
			max-width: 500px;
			background-color: #fff;
			padding: 35px 45px;
			border-radius: 3px;
			@include box-shadow(0px 0px 10px 0px rgba(0,0,0,0.3));
			@include transform(translateY(10%));
			@media (min-height: $tablet-breakpoint-height) {
				@include transform(translateY(20%));
			}
			@media (min-height: $desktop-breakpoint-height) {
				@include transform(translateY(30%));
			}
			@media (min-height: $desktop-large-breakpoint-height) {
				@include transform(translateY(40%));
			}
			
			.title {
				margin-top: 15px;
				margin-bottom: 40px;
				padding-bottom: 35px;
				border-bottom: 1px solid $border-color;
			}
			
			.login-button div {
				margin-top: 35px;
				border-radius: 2px;
			}
		}
	}
}

@media (min-width: $tablet-breakpoint + 1) {	
	.profile-screen {
		body {
			background-color: $background-color;
		}
		.profile-contents,
		.profile-info-container {
			width: 75%;
			max-width: 1200px;
			min-width: $tablet-breakpoint - 20;
			margin: auto;
			border-radius: 3px;
			background-color: $primary-color-inverted;
		}
		.profile-info-container {
			padding: 20px 20px 80px 215px;
			position: relative;
		}
		.profile-info {
			padding: 65px 0;
			
			.logout-button-mobile {
				display: none;
			}
			
			.logout-button {
				display: block;
				padding: 10px 20px;
			}
			
			.swipeable-menu {
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
				padding-left: 205px;
			}
			
			.avatar {
				z-index: 2;
				position: absolute;
				bottom: 20px;
				left: 20px;
				width: 170px;
				height: 170px;
				@include box-shadow(0 0 50px 0 rgba(0, 0, 0, .2));
				
				> div {
					position: absolute;
					height: 100%;
					width: 100%;
				}
			}
			
			.upload-button-container {
				margin: 20px 195px 20px 0;
				
				.upload-button {
					padding: 5px 20px;
					border: 1px solid $secondary-color;
					border-radius: 2px;
					display: inline-block;
					font: $medium-font-size $primary-font;
					color: $description-color;
					
					&:active {
						background-color: $secondary-color;
						
						* {
							color: $primary-color-inverted;
						}
					}
					
					.icon {
						font-size: $large-font-size;
						margin-right: 20px;
					}
					
					.label {
						height: 33px;
						line-height: 33px;
					}
				}
			}
			
			.personal-info {
				margin-top: 10px;
			}
			
			.personal-stuff {
				position: absolute;
				right: 20px;
				bottom: 140px;
			}
			
		}
		
		.rating-and-reviews {
			> div {
				float: left;
			}
		}
		
		.reviews {
			height: 28px;
			line-height: 28px;
			margin-left: 25px;
		}
		
		.followers {				
			position: absolute;
			bottom: 15px;
			right: 20px;
			z-index: 2;
		}
		
		.profile-contents {
			margin-top: 35px;
			padding: 40px 35px;
			background-color: $primary-color-inverted;
			border: 0;
			@include box-shadow(0 0 7px 0 rgba(0, 0, 0, 0.3));
			
			.title-container {
				margin-bottom: 35px;
			}
			
			.type,
			.edit-button,
			.edit-action-buttons,
			.edit-inputs {
				display: none !important;
			}
			
			.name {
				padding: 6.5px;
			}
			.profile-info-value {
				padding: 5px;
			}
			.name,
			.profile-info-value {
				background-color: $profile-button-bg;
				display: inline-block;
				float: left;
				margin-top: 1px;
				position: relative;
				padding-right: 65px;
				
				.edit-tooltip {
					display: none;
					width: 300px;
					background-color: $primary-color-inverted;
					padding: 20px;
					border-radius: 2px;
					@include box-shadow(0 0 50px 0 rgba(0, 0, 0, .2));
					position: absolute;
					left: 90%;
					z-index: 2;
					top: -10px;
					
					&::before {
						content: " ";
						position: absolute;
						top: 18px;
						left: -13px;
						border-top: 13px solid transparent;
						border-right: 13px solid $primary-color-inverted;
						border-bottom: 13px solid transparent;
						z-index: 3;
					}
					
					[md-input-container] {
						margin-top: 0;
					}
					
					.edit-tooltip-action-buttons {
						margin-top: 20px;
						
						> * {
							padding: 8px 25px;
							min-width: 100px;
							text-align: center;
							font-size: $smallest-font-size;
							margin-right: 20px;
						}
					}
				}
				
				&.active {
					.edit-button-right {
						display: none;
					}
					.edit-tooltip {
						display: block;
					}
				}
				
				.edit-button-right {
					position: absolute;
					top: 0;
					right: 0;
					width: 35px;
					height: 35px;
					text-align: center;
					padding: 9px 0;
					cursor: pointer;
					background-color: $edit-button-bg;
					
					&:active {
						background-color: $brand-color;
						span {
							color: $primary-color-inverted;
						}
					}
					
					span {
						font-size: $medium-font-size;
						color: $description-color;
					}
				}
			}
		}
	}
	
}