*,
*:before,
*:after {
	@include box-sizing(border-box);
}
a {
	color: inherit;
	text-decoration: none;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.hand {
	cursor: pointer;
}
.full-width {
	width: 100%;
}
.clearify::after {
	clear: both;
	content: " ";
	display: table;
}
.ellipsify {
	text-overflow: ellipsis;
}
.hidden {
	display: none;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.bold {
	font-weight: bold;
}
.semibold {
	font-weight: 600;
}