.login-screen {
	.main-container {
		width: 75%;
		margin: auto;
	}

	.title {
		font: $large-font-size $primary-font;
		color: $primary-color;
	}

	.tc-container {
		font: $small-font-size $primary-font;
		margin-top: 30px;
		@media (max-height: $mobile-breakpoint-height) {
			margin-top: 20px;	
		}
		color: $secondary-color;
		line-height: 1.5;
		
		a {
			color: $brand-color;	
		}
	}

	.login-button {
		font: bold $small-font-size $primary-font;
		color: $primary-color-inverted;
		
		div {
			padding: 15px 0;
			background-color: $brand-color;
		}
	}
}