@mixin box-sizing($size) {
	-webkit-box-sizing: $size;
	-moz-box-sizing: $size;
	box-sizing: $size;
}

@mixin placeholder($font, $color) {
	::-webkit-input-placeholder {
		font: $font;
		color: $color;
	}
	::-moz-placeholder {
		font: $font;
		color: $color;
	}
	:-ms-input-placeholder {
		font: $font;
		color: $color;
	}
	:-moz-placeholder {
		font: $font;
		color: $color;
	}
	::placeholder {
		font: $font;
		color: $color;
	}
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin box-shadow($args...) {
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
	box-shadow: $args;
}

@mixin transform($args...) {
	-webkit-transform: $args;
	-moz-transform: $args;
	-ms-transform: $args;
	-o-transform: $args;
	transform: $args;
}