@media (max-width: $mobile-breakpoint) {
	
	.login-screen {
		.title {
			margin-top: 60px;
			margin-bottom: 75px;
			@media (max-height: $mobile-breakpoint-height) {
				margin-top: 20px;
				margin-bottom: 20px;	
			}
		}
		
		.login-button {
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}
}

@media (max-width: $tablet-breakpoint) {
	
	.profile-screen {
		.profile-info {
			background-color: $background-color;
			padding-top: 30px;
			padding-bottom: 40px;
			
			.logout-container {
				margin-right: 20px;
				
				.logout-button {
					display: none;
				}
				.logout-button-mobile {
					display: block;
					color: $brand-color;
					padding: 10px;
				}
			}
			
			.avatar {
				margin-top: 25px;
				
				> div{
					width: 30%;
					padding-bottom: 30%;
					margin: auto;
				}
			}
			
			.upload-button-container {
				display: none;
			}
			
			.full-name {
				text-align: center;
				margin-top: 20px;
				padding: 0 15px;
			}
			
			.followers,
			.personal-info,
			.personal-stuff {
				padding: 0 15px;
			}
			
			.personal-info {
				margin-top: 20px;
			}
		}
		
		.rating {
			[class^="ion-"] {
				color: $brand-color !important;
			}				
		}
		
		.reviews {
			margin-top: 5px;
		}
		
		.followers {
			margin: 25px 0 20px;
		}
		
		.profile-contents {
			margin-top: 13px;
			padding: 20px 15px;
			background-color: $primary-color-inverted;
			border-top: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
			
			.title-container {
				margin-bottom: 25px;
			}
			
			.edit-button {
				width: 30px;
				height: 25px;
				&:active {
					background-color: $edit-button-bg;
				}
			}
			
			.edit-action-buttons {
				> div {
					font: $small-font-size $primary-font;
					color: $brand-color;
					padding: 5px 15px;
				}
			}
			
			.edit-inputs {
				padding-right: 15px;
			}
			
			.profile-info-values {
				.profile-info-values-wrapper {
					padding: 10px 0;
				}
				.profile-info-value {
					padding-top: 20px;
					
					.edit-button {
						display: none;
					}
				}
				.type {
					margin-top: 20px;
				}
			}
			.edit-button-right,
			.edit-tooltip {
				display: none !important;
			}
		}
	}
	
}