.profile-screen {
	.ui-loader {
		display: none !important;
	}
	*:focus {
		outline: 0 !important;
	}
	
	.logout-button-mobile,
	.logout-button {
		font: 700 $smallest-font-size $primary-font;
	}
	
	.brand-button {
		font: 700 $smallest-font-size $primary-font;
		border: 1px solid $brand-color;
		border-radius: 2px;
		text-transform: uppercase;
	}
	
	.brand-button-primary {
		color: $brand-color;
		&:active {
			background-color: $brand-color;
			color: $primary-color-inverted;
		}
	}
	
	.brand-button-inverted {
		color: $primary-color-inverted;
		background-color: $brand-color;
		&:active {
			background-color: transparent;
			color: $brand-color;
		}
	}
	
	.avatar > div {
		background-size: cover;
		background-position: top right;
	}
	
	.followers,
	.personal-stuff,
	.personal-info {
		font: $small-font-size $primary-font;
		color: $description-color;
		
		[class^="ion-"] {
			font-size: $large-font-size;
			color: $secondary-color;
		}
	}
	
	.followers {
		.icon {
			font-size: $extra-large-font-size !important;
			margin-right: 10px;
		}
		
		* {
			line-height: 28px;
		}
	}
	
	.full-name {
		font: 600 $medium-large-font-size $primary-font;
	}
	
	.rating {
		[class^="ion-"] {
			font-size: $large-font-size;
		}				
	}
	
	.profile-desc {
		line-height: 28px;
		margin-left: 10px;
	}
	
	.profile-value {
		color: $primary-color;
		font-size: $medium-font-size;
		margin-right: 10px;
	}
	
	.edit-button,
	.title {
		font: $medium-large-font-size $primary-font;
		color: $description-color;
	}
	
	.profile-info-values {
		.name {
			font: 600 $medium-font-size $primary-font;
			color: $primary-color;
		}
		.value {
			padding: 3px 0;
			line-height: 25px;
			margin-left: 10px;
			font: $small-font-size $primary-font;
			color: $primary-color;
		}
		.type {
			font: $small-font-size $primary-font;
			color: $description-color;
		}
		[class^="ion-"] {
			font-size: $large-font-size;
			color: $secondary-color;
		}
	}
	
}