.swipeable-menu {
	position: relative;
	padding: 0 5px;
	overflow: hidden;
	@include box-shadow(0 0 7px 0 rgba(0, 0, 0, .3));
	background-color: $primary-color-inverted;
	
	.swipeable-menu-container {
		position: relative;
		left: 0;
		width: 100%;
		white-space: nowrap;
		overflow-x: visible;
		
		.tab {
			cursor: pointer;
			display: inline-block;
			padding: 0px 10px;
			font: $small-font-size $primary-font;
			
			div {
				padding: 20px 0px;
				position: relative;
				
				&::after {
					display: none;
					content: " ";
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: $brand-color;
					bottom: 0;
					left: 0;
				}
			}
			
			&.active {
				div {
					&::after {
						display: block;
					}
				}
			}
		}
	}
	
	&::before,
	&::after {
		display: none;
		position: absolute;
		top: 0;
		width: 10px;
		height: 100%;
		background-color: $primary-color-inverted;
		content: " ";
		z-index: 1;
		@include box-shadow(0px 0px 50px 35px rgba(255,255,255, 1));
	}
	
	&::before {
		left: -20px;
	}
	
	&::after {
		right: -20px;
	}
	
	&.shadow-visible-left {
		&::before {
			display: block;
		}
	}
	
	&.shadow-visible-right {
		&::after {
			display: block;
		}
	}
}