/*	Breakpoints	*/
$mobile-breakpoint: 480px;
$mobile-breakpoint-height: 479px;
$tablet-breakpoint: 768px;
$tablet-breakpoint-height: 620px;
$desktop-breakpoint-height: 768px;
$desktop-large-breakpoint-height: 1024px;

/*	Sizes	*/
$extra-large-font-size: 1.75em;
$large-font-size: 1.5em;
$medium-large-font-size: 1.25em;
$medium-font-size: 1em;
$small-font-size: 0.875em;
$smallest-font-size: 0.75em;

/*	Colors	*/
$primary-color: #333;
$primary-color-inverted: #fff;
$secondary-color: #a6b0b7;
$description-color: #63696d;
$brand-color: #007ee5;
$border-color: #d0dce7;
$background-color: #f5f8f9;
$edit-button-bg: #ecf1f5;
$profile-button-bg: #f8f8f8;

/*	Fonts	*/
$primary-font: 'Open Sans', sans-serif;